<!DOCTYPE html>
<head>
  <title>RakeTask</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<section id="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Artists seacher", root_path, class: "navbar-brand" %>
      </div>
    </div>
  </div>

    <% if flash[:success] %>
        <div class="h1 word_for_translate text-success">
          <p><b><%=  flash[:success] %> </b></p>
        </div>
    <% elsif flash[:error] %>
        <div class="h1 word_for_translate text-danger">
          <p><b><%=  flash[:error] %></b></p>
        </div>
    <% elsif flash[:notice] %>
        <div class="h1 word_for_translate text-info">
          <p><b><%=  flash[:notice] %></b></p>
        </div>
    <% end %>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</section>
</body>
</html>
